RewriteEngine On

RewriteCond %{REQUEST_URI} !\.(ico|gif|jpg|png|css|js|swf|flv)$
RewriteRule ^(.*)/(.*)/(.*)$ index.php?controller=$1&method=$2&id=$3 [QSA,L]

RewriteCond %{REQUEST_URI} !\.(ico|gif|jpg|png|css|js|swf|flv)$
RewriteRule ^(.*)/(.*)$ index.php?controller=$1&method=$2 [QSA,L]